<h1>Bachelorettes Show page</h1>

<p>Name: <%= @bachelorette.name %></p>
<p>Season: <%= @bachelorette.season_number %></p>
<p>Description: <%= @bachelorette.description %></p>

<%= link_to "Contestants", "/bachelorettes/#{@bachelorette.id}/contestants" %>

<p>Average age: <%= @bachelorette.average_age %></p>